# Build output
bin/
obj/

# Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
Desktop.ini

# dotnet-trace output
*.nettrace
*_report.txt
